@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

.app-container {
    background-color: #000000;
    min-height: 100vh;
    font-family: "Encode sans";
}

::-webkit-scrollbar {
    display: none;
}